<div class="modal-header">
    <h3 class="modal-title">Ajouter au planning la recette : {{recette.nom}}</h3>
</div>
<div class="modal-body">
    <datepicker ng-model="dt" min-date="minDate" show-weeks="false" class="well well-sm"></datepicker>
    <label>Repas du : </label>
    <select>
	<option value="1">Matin</option>
	<option value="2">Midi</option>
	<option value="3">Soir</option>
    </select>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
