<h3>Aliments</h3>
<div class="row">
    <p class="text-center">Selectionnez une catégorie</p>
    <select class="center-block" ng-model="categorieSelected" ng-options="categorie.nom for categorie in categories"
        onChange="showList()">
    </select>
</div>
<br />
<div class="panel panel-success" id="description" hidden="true" ng-init="coefficient = 100">
    <div class="panel-heading">
        <a onClick="showDeclinaison()"><span class="glyphicon glyphicon-chevron-left"/></a>
        Description
    </div>
    <div class="panel-body">
        <p class=text-center><b>{{aliment.name}}</b></p>
        <div class="text-center">
            Valeur pour <input type="number" ng-model="coefficient"/> grammes.    
        </div>
        <table class="table table-striped">
            <tr><td colspan="2"><strong>Calories</strong></td></tr>
            <tr><td>Calorie</td><td>{{nutriments.calorie.apport * coefficient/100}} {{nutriments.calorie.unite}}</td></tr>
            <tr><td colspan="2"><strong>Cholesterol</strong></td></tr>
            <tr><td>Cholesterol</td><td>{{nutriments.cholesterol.apport * coefficient/100}} {{nutriments.cholesterol.unite}}</td></tr>
            <tr><td colspan="2"><strong>Lipides</strong></td></tr>
            <tr ng-repeat="lipide in nutriments.lipides">
                <td>{{lipide.nom}}</td><td>{{lipide.value * coefficient/100}} {{lipide.unite}}</td>
            </tr>
            <tr><td colspan="2"><strong>Glucides</strong></td></tr>
            <tr ng-repeat="glucide in nutriments.glucides">
                <td>{{glucide.nom}}</td><td>{{glucide.value * coefficient/100}} {{glucide.unite}}</td>
            </tr>
            <tr><td colspan="2"><strong>Protéines</strong></td></tr>
            <tr><td>{{nutriments.proteine.details}}</td><td>{{nutriments.proteine.apport * coefficient/100}} {{nutriments.proteine.unite}}</td></tr>
            <tr><td colspan="2"><strong>Eau</strong></td></tr>
            <tr><td>Eau</td><td>{{nutriments.eau.apport * coefficient/100}} {{nutriments.eau.unite}}</td></tr>
            <tr><td colspan="2"><strong>Vitamines</strong></td></tr>
            <tr ng-repeat="vitamine in nutriments.vitamines">
                <td>{{vitamine.details}}</td><td>{{vitamine.apport * coefficient/100}} {{vitamine.unite}}</td>
            </tr>
            <tr><td colspan="2"><strong>Mineraux</strong></td></tr>
            <tr ng-repeat="minerau in nutriments.mineraux">
                <td>{{minerau.details}}</td><td>{{minerau.apport * coefficient/100}} {{minerau.unite}}</td>
            </tr>
            <tr><td colspan="2"><strong>Oligo-élements</strong></td></tr>
            <tr ng-repeat="oligo in nutriments.oligoElements">
                <td>{{oligo.details}}</td><td>{{oligo.apport * coefficient/100}} {{oligo.unite}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="panel panel-info" id="declinaison" hidden="true">
    <div class="panel-heading">
        <a onClick="showList()"><span class="glyphicon glyphicon-chevron-left"/></a>
        Déclinaison
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <tr><th>Nom</th><th>Voir</th></tr>
            <tr ng-repeat="declinaison in declinaisons">
                <td><span ng-repeat="etat in declinaison.etats">{{etat.nom}} </span></td><td><a ng-click="getNutriments(declinaison.id)" onClick="showDescription()"><span class="glyphicon glyphicon-eye-open"/></a></td>
            </tr>
        </table>
    </div>
</div>
<div class="panel panel-warning" id="table" hidden="true">
    <div class="panel-heading">Liste des aliments <div style="float: right">Recherche: <input ng-model="rechercheAliment.nom"></div></div>
    <div class="panel-body">
        <table class="table table-striped">
            <tr><th>Nom</th><th>Voir</th></tr>
            <tr ng-repeat="aliment in aliments.aliments | filter:rechercheAliment">
                <td>{{aliment.nom}}</td><td><a ng-click="getDeclinaison(aliment)" onClick="showDeclinaison()"><span class="glyphicon glyphicon-eye-open"/></a></td>
            </tr>
        </table>
    </div>
</div>
<script>
    function showList() {
        $('#table').fadeIn();
        $('#description').fadeOut();
        $('#declinaison').fadeOut();
    }
    function showDeclinaison() {
        $('#declinaison').fadeIn();
        $('#description').fadeOut();
        $('#table').fadeOut();
    }
    function showDescription() {
        $('#description').fadeIn();
        $('#declinaison').fadeOut();
        $('#table').fadeOut();
    }
</script>
