<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">BodyWired</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a ui-sref="home">Accueil</a></li>
        <li><a href="menu.html">Menu</a></li>
        <li><a href="contact.html">A propos</a></li>
        <li ng-if="user.isConnected()" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mon compte<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="profil">Profil</a></li>
            <li><a href="calendar.html">Calendrier</a></li>
            <li><a href="favori.html">Menu préferé</a></li>
            <li class="divider"></li>
            <li class="dropdown-header ">Compte de {{user.fullname}}</li>
            <li><a ui-sref="logout">Se deconnecter</a></li>
          </ul>
        </li>
        <li ng-if="!user.isConnected()"><a ui-sref="login">Se connecter</a></li>
      </ul>
        <div ng-if="!user.isConnected()">Pas connecté</div>
        <div ng-if="user.isConnected()">connecté</div>
    </div>
  </div>
        <div ng-if="!user.isConnected()">Pas connecté</div>
        <div ng-if="user.isConnected()">connecté</div>
</div>
