<h3>Menu</h3>
<div id="menu" class="panel panel-success" hidden="true">
    <div class="panel-heading">
        {{menuSelected.name}}
    </div>
    <div class="panel-body">
        Pouet
    </div>
</div>
<div id="listMenu" class="panel panel-info">
    <div class="panel-heading">
        Menus
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <tr><th>Menu</th><th>Voir</th></tr>
            <tr ng-repeat="menu in menus">
                <td>{{menu.nom}}</td>
                <td><a ng-click="selectMenu(menu)" onClick="showMenu()"><span class="glyphicon glyphicon-eye-open"/></a></td>
            </tr>
        </table>
    </div>
</div>

<script>
    function showMenu() {
        $('#listMenu').fadeOut();
        $('#menu').fadeIn();
    }
    function showList() {
        $('#listMenu').fadeIn();
        $('#menu').fadeOut();
    }
</script>