<h3>Recettes</h3>
<div class="panel panel-success" id="description" hidden="true" ng-init="coefficient = 100">
    <div class="panel-heading">
        <a onClick="showRecette()"><span class="glyphicon glyphicon-chevron-left"/></a>
        Description
    </div>
    <div class="panel-body">
        <p class=text-center><b>{{aliment.name}}</b></p>
        <div class="text-center">
            Valeur pour <input type="number" ng-model="coefficient"/> grammes.    
        </div>
        <table class="table table-striped">
            <tr><td colspan="2"><strong>Calories</strong></td></tr>
            <tr><td>Calorie</td><td>{{nutriments.calorie.apport * coefficient}}</td></tr>
            <tr><td colspan="2"><strong>Cholesterol</strong></td></tr>
            <tr><td>Cholesterol</td><td>{{nutriments.cholesterol.apport * coefficient}}</td></tr>
            <tr><td colspan="2"><strong>Lipides</strong></td></tr>
            <tr ng-repeat="lipide in nutriments.lipides">
                <td>{{lipide.nom}}</td><td>{{lipide.value * coefficient}}</td>
            </tr>
            <tr><td colspan="2"><strong>Glucides</strong></td></tr>
            <tr ng-repeat="glucide in nutriments.glucides">
                <td>{{glucide.nom}}</td><td>{{glucide.value * coefficient}}</td>
            </tr>
            <tr><td colspan="2"><strong>Protéines</strong></td></tr>
            <tr><td>{{nutriments.proteine.details}}</td><td>{{nutriments.proteine.apport * coefficient}}</td></tr>
            <tr><td colspan="2"><strong>Eau</strong></td></tr>
            <tr><td>Eau</td><td>{{nutriments.eau.apport * coefficient}}</td></tr>
            <tr><td colspan="2"><strong>Vitamines</strong></td></tr>
            <tr ng-repeat="vitamine in nutriments.vitamines">
                <td>{{vitamine.details}}</td><td>{{vitamine.apport * coefficient}}</td>
            </tr>
            <tr><td colspan="2"><strong>Mineraux</strong></td></tr>
            <tr ng-repeat="minerau in nutriments.mineraux">
                <td>{{minerau.details}}</td><td>{{minerau.apport * coefficient}}</td>
            </tr>
            <tr><td colspan="2"><strong>Oligo-élements</strong></td></tr>
            <tr ng-repeat="oligo in nutriments.oligoElements">
                <td>{{oligo.details}}</td><td>{{oligo.apport * coefficient}}</td>
            </tr>
        </table>
    </div>
</div>
<div id="recette" class="panel panel-success" hidden="true">
    <div class="panel-heading">
        <a onClick="showList()"><span class="glyphicon glyphicon-chevron-left"/></a>
        {{selectedRecette.nom}}
    </div>
    <div class="panel-body">
        <h1>Information</h1>
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{selectedRecette.note}}" aria-valuemin="0" aria-valuemax="100" style="width: {{selectedRecette.note}}%"/>
        </div>
        Nombre de personne: {{selectedRecette.nbPers}} <span ng-repeat="n in getNumber(selectedRecette.nbPers) track by $index" class="glyphicon glyphicon-user"/><br/>
        Calories: {{selectedRecette.calories}}<br/>
        Temps: {{selectedRecette.tmpCuisson + selectedRecette.tmpMaceration + selectedRecette.tmpPreparation + selectedRecette.tmpRefrigeration}}min<br/>
        Vegetarien: <span ng-if="selectedRecette.vegetarien" class="label label-success">Oui</span><span ng-if="!(selectedRecette.vegetarien)" class="label label-danger">Non</span><br/><br/>
        <h1>Réalisation</h1>
        Temps de préparation: {{selectedRecette.tmpPreparation}}min<br/>
        Temps de macération: {{selectedRecette.tmpMaceration}}min<br/>
        Temps de cuisson: {{selectedRecette.tmpCuisson}}min<br/>
        Temps de réfrigération: {{selectedRecette.tmpRefrigeration}}min<br/>
        <h1>Ingredients</h1>
        <table class="table table-striped">
            <tr><th>Aliment</th><th>Quantité</th></tr>
            <tr ng-repeat="aliment in selectedRecette.aliments">
                <td><a onClick="showDescription()" ng-click="getNutriments(aliment.aliment.id)">{{aliment.aliment.nom}}</a></td>
                <td>{{aliment.quantite}}</td>
            </tr>
        </table>
        <h1>Préparation</h1>
        {{selectedRecette.preparation}}
    </div>
</div>
<div id="listRecette" class="panel panel-info">
    <div class="panel-heading">
        Menus
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <tr><th>Recette</th><th>Voir</th></tr>
            <tr ng-repeat="recette in recettes">
                <td>{{recette.nom}}</td>
                <td><a ng-click="selectRecette(recette)" onClick="showRecette()"><span class="glyphicon glyphicon-eye-open"/></a></td>
            </tr>
        </table>
    </div>
</div>

<script>
    function showRecette() {
        $('#listRecette').fadeOut();
        $('#description').fadeOut();
        $('#recette').fadeIn();
    }
    function showList() {
        $('#listRecette').fadeIn();
        $('#description').fadeOut();
        $('#recette').fadeOut();
    }
    function showDescription() {
        $('#description').fadeIn();
        $('#listRecette').fadeOut();
        $('#recette').fadeOut();
    }
</script>
