<div>
	<H3>S'enregistrer</H3>
	<form class="form-horizontal" role="form">
	  <div class="form-group">
	    <label for="inputLoginRegister" class="col-sm-2 control-label">Login</label>
	    <div class="col-sm-10">
	      <input ng-model="user.login" type="login" class="form-control" id="inputLoginRegister" placeholder="Login">
	    </div>
	  </div>
	  <!--<div class="form-group">
	    <label for="inputEmailRegister" class="col-sm-2 control-label">Email</label>
	    <div class="col-sm-10">
	      <input ng-model="user.email" type="email" class="form-control" id="inputEmailRegister" placeholder="Email">
	    </div>
	  </div>-->
	  <div class="form-group">
	    <label for="inputPasswordRegister" class="col-sm-2 control-label">Password</label>
	    <div class="col-sm-10">
	      <input ng-model="user.password" type="password" class="form-control" id="inputPasswordRegister" placeholder="Password">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword2Register" class="col-sm-2 control-label">Password again</label>
	    <div class="col-sm-10">
	      <input ng-model="user.passwordAgain" type="password" class="form-control" id="inputPassword2Register" placeholder="Password again">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button ng-click="register(user)" type="submit" class="btn btn-primary">Sign up</button>
	    </div>
	  </div>
	</form>
</div>
